<!doctype html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Информация</title>
</head>
<body>
    <h3>Информация о персоне</h3>
    {% if participant["death"] != None%}
        <h2>Год рождения: {{participant["birth"]}}</h2>
    {% else%}
    <h2> Годы жизни: {{participant["birth"]}}-{{participant["death"]}}</h2>
    {% endif %}
    <h2>Страна: {{country}}</h2>
</body>
</html>